.bodysection{
    background-image: url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);

    height:100vh;
    background-position: center;
    background-size: cover;
    padding: 12rem 3.5rem;
}

.content{
    text-align: center;
    width: 45%;
}

.content p{
    font-size:20px;
    margin: 1.5rem 0;
    line-height: 32.5px;
}

.content h1{
    font-size:55px;
    font-weight: 800;  
    line-height: 55px;
}

#lastChild{
    color: rgb(190,18,60);
}

.content button{
    padding: 0.8rem 3rem;
    font-weight: 600;
    color: white;
    border: none;
    background-color:  rgb(225,29,72);
    margin-right: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border-radius: 4px ;
    cursor:pointer;
    float: left;
}

#searchNow:hover{
    background-color: rgb(180, 25, 64);
}
#knowMore{
    background-color: rgb(255, 255, 255);
    color:  rgb(225,29,72);
}
#knowMore:hover{
    color: rgb(180, 25, 64);
}

@media screen and (max-width: 903px) {
    .content{
        width: 100%;
        height: 100%;
        padding: 5rem 1rem;
        background-color: rgba(255, 255, 255, 0.63);
    }
    .content button{
        width: 100%;
        margin-bottom: 0.6rem;
    }
    .hero{
        padding:0;
    }
    .content h1{
        font-size: 32px;
    }
}